### 1.1 Practice Set 2, Indexing and Slicing using Python
#### By Arlene Valenzuela

##### Task 1:

In [ ]:
2 ** 16  #This calculates 2 raise to 16th power

2 / 5, 2 / 5.0 #This calculate the qoutient of 2 when divided by 5(an integer) and 5.0(a floating number)

"spam" + "eggs" # This concatinates or combine "spam" and "eggs" into a single string

S = "ham" #The variable 'S' is assigned to be the "ham"

"eggs " + S #This concatinates string "eggs" and the variable S

S*5 #This repeats the string in the variable 'S' 5 times

S[:0] #This displays the character in a string but this case returns an empty string

"green %s and %s" % ("eggs", S) #This is a string formatting syntax. %s is the placeholder for a
                                #sting value and in this case it is "eggs" and "S=ham".
                                #This returns the string 'green eggs and ham'.

In [ ]:
('x',) [0] #This creates tuple with the element 'x' (a string).
            #[0] returns the first element of the tuple which is 'x'.

('x', 'y') [1] #This creates tuple with the element 'x' and 'y' (both are strings).
            #[1] returns the second element of the tuple which is 'y'.

In [ ]:
L = [1,2,3] + [4,5,6] 
#This concatenates two lists [1,2,3] and [4,5,6]. It results to a new list L = [1,2,3,4,5,6]

L, L[:], L[:0], L[-2], L[-2:] 
'''
This are the ways of slicing the list 'L'
L : returns the entire list
L[:] : creates a copy of the list
L[:0] : returns an empty list
L[-2] : returns the second last element of the list which is '5'
L[-2:] : returns the last two elements of the list which are '5 and 6'
'''

([1,2,3] + [4,5,6]) [2:4] 
'''
This concatenates two lists then slices the resulting list. 
[2:4] returns the elements at index 2 and 3, which is '3 and 4'
'''

[L[2], L[3]] 
'''
This creates a new list by selecting the elements at index 2 and 3 of the list 'L'.
In particular, [3,4]
'''

L.reverse(); L
'''
This reverses the elements of the list 'L' abd then returns the reversed list. [6,5,4,3,2,1]
'''

L.sort(); L
'''
This sorts the elements of the list 'L' in ascending order and then returns the sorted list: [1,2,3,4,5,6]
'''

L.index(4){'a':1, 'b':2} ['b']
'''
This is an invalid syntax. This must be
L.index(4) : This finds the index of the element '4' in the list 'L' and returns '3'.
 {'a':1, 'b':2} ['b'] : This defines a dictionary and accesses the value associated with the key 'b' which is '2'.
'''

In [ ]:
D = {'x':1, 'y':2, 'z':3} 
"""
This creates a dictionary and assigned it to the variable 'D'.
x, y and z was assigned to be 1, 2 and 3 respectively.
"""

D['w'] = 0
"""
This adds a pair to the dictionary 'D'.
'w' was assigned to be 0. 
"""

D['x'] + D['w']
"""
This accessed the values of the keys x and w then combines it. 
This results to 1 + 0 = 1
"""


D[(1,2,3)] = 4
"""
This adds a pair to the dictionary 'D'.
The key (1,2,3) was assigned the value '4'.
"""

D.keys(), D.values(), D.has_keys((1,2,3)) [[]], ["", [], {}, None]
'''
This are the ways of manipulating the list and dictionary operations
D.keys() returns all the keys of the dictionary 'D' which is ['x', 'y', 'z', 'w',(1,2,3)]
D.values() returns all the values of the dictionary 'D' which is [1, 2, 3, 0, 4]
D.has_key((1,2,3)) checks of the key (1,2,3) exists in the dictionary 'D'.
[[]] returns an empty list
["", [], {}, None] returns an empty string, an empty list, an empty dictionary and None
'''

##### Task 2:

In [78]:
L = ['Mathematics', 'Science', 'Filipino', 'English']
'''
L[565] #If we index out of bound it will result to an error since there is no 565th element of the list 'L'

If we try to slice 'L'
L[-9999:100] #This slices the list L from index -9999 up to  index 100. 
Since these indices are out of bounds, Python will treat them as the beginning and end of the list, respectively.
if we try:
L[456:4556]  #t his will result to an empty slice since we are trying to a slice of the list L 
starting from index 456 and ending before index 4556. Note that this indices are much beyond the bounds.
'''

L.reverse() #This will extract the reverse of L. We can also use : L[::-1], this is an example of slicing with -1 steps
''''
However, if we attept to perform L[3:1] this will return the value [], since the start index is greater than the end index.

'''

['Mathematics', 'Science', 'Filipino', 'English']

##### Task 3:

In [126]:
L = [2,4,6,8,10]

L[4] = [12,14,16] # This assigns the element at index 4 with [12,14,16]. Thus, the list will become L=[2,4,6,8,[12,14,16]].

L[1:3] = [] #This assigns an empty list to a range. This resulting to the 2nd and 3rd elements to be empty.
            #the list will become L=[2, 8, [12, 14, 16]]

del L[2] # This deletes the element that is indexed at 2 which is '[12,14,16]'
           # L now becommes [2,8]

del L[0:] # This deletes the whole list starting from index '0'

"""Note that we cannot asign a non-sequence value to a slice since slices in Python are designed to work with sequences (like lists or tuples). 
When you assign a value to a slice, Python expects an iterable object that it can use to replace the elements in that slice.
"""

[2, 8]

##### Task 4:

In [ ]:
D = {'a' : 'I', 'b' : 'LOVE', 'c' : 'YOU'}

"""
If we try to index a nonexistent key d, i.e D['d'] , this will results to an error.
This means the key that we are accessing does not exists in the dictionary 'D'.

If we try to assign a nonexistent key d, Python simply create a new elements (key-value pair) on the dictionary.
If we let D['d'] = 'TOO', we now have D = {'a' : 'I', 'b' : 'LOVE', 'c' : 'YOU', 'd' : 'TOO'}

When assigning nonexistent key in the dictionary, this adds a new entry.
However, if we assigns out-of-bounds indices to a list, this results to  an error.
"""

##### Task 5:

###### What happens when you try to use the + operator on different/mixed types?

In [1]:
a = 1
b = 2
a+b #'+' adds the two integer

3

In [7]:
a = 'book'
b = 'worm'
a + b #'+' concatenates the two strings

'bookworm'

In [9]:
a = [1,3,5]
b = [2, 4, 6]
a + b #'+' concatenates the two list

[1, 3, 5, 2, 4, 6]

However, if we try to use + on different types, this can result to an error.
For example:

In [11]:
a = 'book'
b = 6
a + b

TypeError: can only concatenate str (not "int") to str

In [13]:
a = 'love'
b = [1, 4, 3]
a + b

TypeError: can only concatenate str (not "list") to str

In [15]:
a = 1
b = [1, 4, 3]
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'list'

###### Does + work if one of the operands is a dictionary?

In [25]:
D = {'a' : 'I', 'b' : 'LOVE', 'c' : 'YOU'}
E = 143
D + E

TypeError: unsupported operand type(s) for +: 'dict' and 'int'

No, + does not work. Note that '+' retuns an  error if one of the operands is a dictionary. We can only add an element on the dictionary by doing D['e'] = 143

In [29]:
# For example
D = {'a' : 'I', 'b' : 'LOVE', 'c' : 'YOU'}
D['e'] = 143
D

{'a': 'I', 'b': 'LOVE', 'c': 'YOU', 'e': 143}

###### Try list.append() (use an actual list you created). Does the append() method work for both lists and strings?

In [47]:
L = [2,4,6,8,10]
L.append(12)
L #append() works on list

[2, 4, 6, 8, 10, 12]

In [49]:
a = 'dog'
a.append(s)
''''append() doest work on strings since stinf is an immutable sequences. 
Thus, strings cannot be modified after creating it.
'''

AttributeError: 'str' object has no attribute 'append'

###### Try concatenating (+) two lists or strings, what happens?

In [54]:
# '+' on two strings
'air'+ 'plane'
# concatenating two strings will result to a new string

'airplane'

In [56]:
# '+' on two list
[1,2,3] + [10,9,8]
# concatenating two lists will result to a new list

[1, 2, 3, 10, 9, 8]

##### Task 6:

Define a string S of four characters. Then type the following expression: S[0] [0] [0] [0]. Explain what is happening.

In [62]:
S = 'time'
S[0][0][0][0] #This access the first character of the string 'S'
'''
S[0] returns the first character of the string 'S' which is 't'.
The suceeding [0]'s are invalid since 't' is a character and does not support indexing at [0].
'''

't'

##### Task 7:

Define a string S of 4 characters again: S = “spam”. Write an assignment that changes the string to “slam”, using only slicing and concatenation. Does it work? Try index assignment.

In [73]:
S = 'spam'
S = 'sl' + S[2:]
S 
'''
This works since we concatinate 'sl' with the result when slicing S. 
By doing, S[2:], the return value will be 'am'
And combining 'sl' to 'am', will return 'slam'.
'''

'slam'

In [77]:
S = 'spam'
S[1] = 'l'
'''
We cannot modify strings by index assignment since once a string is defined, the elements cannot be changed.
We can only modify by slicing and concatenating.
'''

TypeError: 'str' object does not support item assignment

## END